* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
I. Từ ngoài vào trong
II. Từ trên xuống dưới
III. Tổng quan đến chi tiết

1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông, ...)
*/

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {

}

#heaher {
    --header-height: 46px;
    height: var(--header-height);
    background-color: #000;
}

#slider {

}

#content {

}

#footer {

}

.nav li {
    display: inline-block;
}

.nav li a {
    text-decoration: none;
    color: red;
    line-height: var(--header-height);
    padding: 0 24px;
}

.nav .subnav {
    display: none;
}

.nav li:hover a {
    background-color: #ccc;
    display: inherit; /* ~ inline-block */
}

/* .nav li:hover .subnav {
    display: block;
} */